@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');

mdb-navbar-brand{
  font-family: 'Baloo Tammudu', cursive !important;

}

.navbar-brand {

  font-size: 1.6rem !important;
  padding-bottom: 0 !important;
  padding-top: 0.5em !important;

}

sub {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40%;
}
