<a name="download"></a>
<hr class="my-5">
<div class="container">

  <section>

      <h3 class="h1-responsive font-weight-bold text-center my-5">Descarga gratis la app de Pignus Civitas</h3>
      <p class="grey-text text-center">Ayuda a construir comunidades más informadas y menos vulnerables a la victimización</p>
      <br />
      <div class="text-center">
        <p>Descárgala ahora:</p>
        <button type="button" class="btn btn-elegant"><i class="fab fa-google-play fa-lg pr-1"></i> Google Play</button>
        <button type="button" class="btn btn-elegant"><i class="fab fa-apple fa-lg pr-1"></i> App Store</button>
      </div>
  </section>

</div>
