<hr class="my-5">
<!--Section: Main features & Quick Start-->
<div class="container">
<section>

    <h3 class="h3 text-center mb-5">Sobre Pignus Civitas</h3>

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 px-4">

        <!--First row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fa fa-building fa-2x indigo-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Es para todo recinto que cuente con una vigilancia privada</h5>
            <p class="grey-text">Gestión y generación de minutas de seguridad</p>
          </div>
        </div>
        <!--/First row-->

        <div style="height:30px"></div>

        <!--Second row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fa fa-exclamation-circle fa-2x blue-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Mejora la comunicación de la comunidad con su vigilancia</h5>
            <p class="grey-text">Pignus cuenta con un sistema de alertas que permite a la comunidad estar informada en tiempo real de cualquier situación irregular
            </p>
          </div>
        </div>
        <!--/Second row-->

        <div style="height:30px"></div>

        <!--Third row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fa fa-lock fa-2x cyan-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Las vigilancias pueden compartir entre ellas información de inteligencia</h5>
            <p class="grey-text">Las vigilancias pueden acceder a información de inteligencia generadas por otras vigilancias para tomar decisiones acertadas que eviten cualquier situación de victimización</p>
          </div>
        </div>
        <!--/Third row-->

      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ziJURgPkdj8" allowfullscreen></iframe>
        </div>
      </div>
      <!--/Grid column-->

    </div>
    <!--/Grid row-->

  </section>
</div>
  <!--Section: Main features & Quick Start-->
